.card {
    display: inline-block;
    width: 25%;
    background: var(--color-bg-monochrome-low);
    transition: var(--transition);
    border-radius: 2rem;
}

.card:hover {
    background: var(--color-bg-monochrome-dark);
}

.card__description {
    color: var(--color-primary);
}

.card__description-p {
    color: var(--color-light);
}

@media screen and (max-width: 1040px) {
    .card {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}
