.navbar {
    background: var(--color-bg-variant);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.nav__link {
    font-weight: 200;
    color: var(--color-primary-variant);
}

.active {
    font-weight: 1000;
    color: var(--color-secondary);
}
